@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html {
  height: 100%;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

body {
  /* overflow-anchor: none; */
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
}

main {
  flex-grow: 1;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  object-fit: cover;
}

.container {
  max-width: 1110px;
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
}

.link {
  display: inline-block;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #d4d6d4;
  text-decoration: none;
  text-transform: capitalize;
}

.link span {
  padding-left: 10px;
  text-indent: 10px;
  border-bottom: 1px solid currentColor;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.btn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  padding: 24px 0;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.burrger {
  --offset-horizantal: 11px;
  --offset-vertical: 14px;
  position: relative;
  border-radius: 100%;
  padding: var(--offset-vertical) var(--offset-horizantal);
  width: 40px;
  height: 40px;
  background: #f5f6f7;
}

.burrger-line {
  position: absolute;
  left: 50%;
  top: var(--offset-vertical);
  display: inline-block;
  width: calc(100% - (var(--offset-horizantal)) * 2);
  height: 2px;
  background-color: black;
  transform: translateX(-50%);
}

.burrger-line:nth-child(2) {
  top: calc(var(--offset-vertical) + 6px);
}

.burrger-line:nth-child(3) {
  top: calc(var(--offset-vertical) + 12px);
}

.hero {
  padding-top: 189px;
  padding-bottom: 100px;
  min-height: 811px;
  background-image: url("../images/webivo-bg.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.hero__box-content {
  max-width: 616px;
  width: 100%;
  color: #fff;
}

.hero-subtitle {
  display: inline-block;
  margin-bottom: 22px;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
}

.hero-title {
  margin: 0;
  margin-bottom: 22px;
  font-weight: 700;
  font-size: 60px;
  line-height: 74px;
}

.hero-text {
  margin: 0;
  margin-bottom: 45px;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
}

.hero-link {
  color: #ffd723;
}

/*  */

.services {
  margin-bottom: -150px;
  padding-top: 150px;
  padding-bottom: 150px;
}

.services-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}

.site-title {
  margin: 0;
  display: inline-block;
  font-weight: 700;
  margin-bottom: 30px;
  font-size: 36px;
  line-height: 46px;
  color: #4d533c;
  text-transform: capitalize;
}

.services-title {
  max-width: 607px;
}

.servicessub-title {
  margin: 0;
  margin-bottom: 53px;
  font-weight: 500;
  font-size: 24px;
  line-height: 34px;
  text-transform: uppercase;
  color: #4d533c;
}

.services-text {
  margin: 0;
  margin-bottom: 60px;
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  color: rgba(33, 56, 66, 0.6);
}

.services-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #d4d6d4;
  margin-bottom: 0;
  margin-top: auto;
  border-bottom: 1px solid currentColor;
}

.services-item {
  max-width: 220px;
  display: flex;
  flex-direction: column;
}

.get-started {
  position: relative;
  top: 180px;
  padding: 70px 0;
  width: 88%;
  box-shadow: 50px 130px 100px rgba(0, 0, 0, 0.145947);
  background-color: #fafafa;
}

.get-started-title {
  margin: 0;
  margin-bottom: 50px;
  max-width: 822px;
  font-weight: 700;
  font-size: 60px;
  line-height: 74px;
  color: #4d533c;
}

.footer-top {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 50px;
  border-bottom: 1px solid #5d6544;
}

.footer-contact-text {
  display: block;
  margin-bottom: 8px;
  font-weight: 400;
  font-size: 16px;
  line-height: 40px;
  color: #b6c197;
}

.footer-contact-value {
  display: inline-block;
  /* margin-bottom: 52px; */
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 40px;
  color: #ffffff;
  text-decoration: none;
}

.footer-contacts-content:not(:last-child) {
  margin-right: 128px;
}

.footer {
  color: #fff;
  padding-top: 300px;
  background-image: url("../images/Bg.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.footer-title {
  margin: 0;
  margin-bottom: 21px;
  font-weight: 600;
  font-size: 16px;
  line-height: 38px;
  text-transform: uppercase;
  color: #fff;
}

.footer-middle {
  --grid-gap: 70px;
  padding-top: 60px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: var(--grid-gap);
}

.footer-colummn:last-child {
  position: relative;
}

.footer-colummn:last-child::before {
  content: "";
  position: absolute;
  top: 0;
  left: calc(-1 * (var(--grid-gap)));
  width: 1px;
  height: 100%;
  background-color: #b6c197;
}

.footer-item + .footer-item {
  padding-bottom: 5px;
}
.footer-link {
  display: inline-block;
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 40px;
  color: #b6c197;
  text-decoration: none;
}

.footer-text {
  margin: 0;
  margin-bottom: 23px;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #b6c197;
}

.footer-mail {
  margin-bottom: 0;
  margin-bottom: 24px;
  font-weight: 700;
  font-size: 24px;
  line-height: 38px;
  color: #ffffff;
}

.social {
  display: flex;
  align-items: center;
}

.social-item + .social-item {
  margin-left: 10px;
}

.social-item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  margin-top: 20px;
  padding: 10px 10px;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background: #444a34;
}

.social-item:nth-child(3) {
  background-color: #ffd723;
}

.social-link {
  display: inline-block;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #5e6648;
  text-decoration: none;
}

.footer-bottom {
  margin-top: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: column;
  border-top: 1px solid #5d6544;
  padding: 40px 10px;
}

.copyright {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #b5c096;
}

@media screen and (max-width: 992px) {
  .services-list {
    /* display: grid; */
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
  }

  .services-item {
    max-width: none;
  }

  .footer-middle {
    grid-template-columns: repeat(2, 1fr);
  }

  .footer-colummn:last-child::before {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .get-started-title {
    font-size: 39px;
    line-height: 50px;
  }
}

@media screen and (max-width: 576px) {
  .footer-middle {
    --grid-gap: 40px;
    grid-template-columns: repeat(1, 1fr);
  }
  .hero-title {
    font-size: 46px;
    line-height: 57px;
  }
}

@media screen and (max-width: 375px) {
  .footer-mail {
    font-size: 20px;
  }
}
